{% extends 'socialapp/socialapp_base.html' %}

{% block content %}
<div style top: 20%; text-align: center; font-size: 40px; color: black;>
    Uh-Oh. <br>
    400 Error
</div>

<div style top: 30%; text-align: center; color: black; width: 35em>
    <span style font-weight: bold;>Something weird has happened. </span> <br>
    If you're seeing this page you've asked our website to do something unexpected and it doesn't 
    know how to respond to that, sorry. We've got some resources you can look at here: <br>
    https://github.com/Nessphoro/group-CMPUT404-project/wiki/RESTFul-API <br>
    <br>
    Or, you can poke around some more. <br>
    Or, if you're someone we know you can get a hold of us and we'll do our best to help. <br>
    Best of luck!
</div>

{% endblock %}