{% extends 'socialapp/socialapp_base.html' %}

{% block content %}
<div style top: 20%; text-align: center; font-size: 40px; color: black;>
    Hey! <br>
    403 Error! <br>
</div>

<div style top: 30%; text-align: center; color: black; width: 35em>
    <span style font-weight: bold;> You don't have permission to see this page. </span> <br>
    So you've tried to type in address, or follow a link, or click on a post, and it has brought you 
    here. Unfortunetly for you, the author or admin or whoever has said that you're not allowed to look 
    at the page you wanted. If you're friends with the author then this post is probably super private,
    if you're not friends with them, thats probably why you don't have permission. If you've talked with 
    the author and they say you should be able to see it but you end up here, send us a message, we'll look
    into what's causing this. 
</div>

{% endblock %}