{% extends 'socialapp/socialapp_base.html' %}

{% block content %}
<div style top: 20%; text-align: center; font-size: 40px; color: black;>
    Whoops. <br>
    404 Error
</div>

<div style top: 30%; text-align: center; color: black; width: 35em>
    <span style font-weight: bold;> Don't panic, nothings broken. Probably. </span> <br>
    This error only happens when you go to a web address that doesn't exist, so you either 
    typed in the address wrong, or clicked a bad link, or somethings not here anymore. No Worries. <br>
    <br>
    Unless I am mistaken there should still be the bar at the top with our websites name. Just click
    the website name and you should be brought back to the home page. Alternatively, you should still be 
    able to use your browsers back button. If you keep ending up at this page something weird is happening.
    Double check any links you are clicking, if the link isn't part of the website we offer no guarentees
    that it works. If the link is provided by us, please let us know and we'll try to fix it. 
</div>

{% endblock %}