{% extends 'socialapp/socialapp_base.html' %}

{% block content %}
<div class="centered twelve wide column">
    <div class="ui grid">
        <div class="four wide column">
                <h1>{{author.displayName}}</h1>
                <img class="ui fluid rounded image" src="{{author.image}}">
                
                <h3>Bio</h3>
                <p class="demphasize">
                    {{author.firstName}} {{author.lastName}}
                    <br>
                    {{author.email}}
                </p>
                <hr>
                <p>
                    {{author.bio}}
                </p>
                {% if user.is_authenticated %}
                    
                    {% if (user.author != author) and (author not in user.author.friends.all()) %}
                        {% if author in user.author.friend_requests.all() %}
                            <a href="{{ url('author-accept-friend-request', args=[author.id]) }}"   class="green basic fluid ui button">
                                Accept Request
                            </a>
                        {% elif user.author not in author.friend_requests.all()  %}
                            <a href="{{ url('author-send-friend-request', args=[author.id])}}"   class="primary basic fluid ui button">
                                Send Friend Request
                            </a>
                        {% else %}
                        {% endif %}
                    {% endif%}

                    {% if user.author == author %}
                        <a href="{{ url('author-update', args=[author.id]) }}" style="margin-top: 1em;" class="blue basic fluid ui button">
                            Edit Profile
                        </a>
                        {% if user.author.friend_requests.all() | count > 0 %}
                            <a href="{{ url('author-friends', args=[author.id]) }}" style="margin-top: 1em;" class="blue basic fluid ui labeled button">
                                <div class="basic blue fluid ui button">
                                    Manage Friends
                                </div>
                                <div class="ui basic blue left pointing label">
                                    {{user.author.friend_requests.all() | count}}
                                </div>
                            </a>
                        {% else %}
                            <a href="{{ url('author-friends', args=[author.id]) }}" style="margin-top: 1em;" class="blue basic fluid ui button">
                                Manage Friends
                            </a>
                        {% endif %}
                        <a href="{{ url('logout') }}" style="margin-top: 1em;" class="red basic fluid ui button">
                            Logout
                        </a>
                    {% endif%}
                {% endif %}
        </div>
        <div class="twelve wide column">
            {% if user.is_authenticated and user.author.is_local_unverified_user() %}
            <div class="ui yellow message">Unverified</div>
            {% endif %}
            {% if user.is_authenticated and user.author.is_local_verified_user() %}
            <div class="ui yellow message">Verified</div>
            {% endif %}
            {% if user.is_authenticated and user.author.is_foreign_author() %}
            <div class="ui yellow message">Foreign</div>
            {% endif %}


            {% block authorContent %} {% endblock %}
        </div>
    </div>
</div>

<!-- <body>

    <h2>{{ author.displayName }}</h2>
    <p>{{ author.bio }}</p>

    {% if user.is_authenticated %}
    <h4>Actions</h4>
    <div class="author-actions">

        {% if user.author != author %}
        TODO: Make this do friendship stuff
        <a href="">Send Friend Invite</a> |
        {% endif%}

        {% if user.author == author %}
        TODO: Make this do profile update stuff
        <a href="">Edit Profile</a>
        {% endif%}

    </div>
    {% endif %}


    <h4>Posts:</h4>
    <div class="author-posts">
    TODO: Flesh these out a bit ...
    {% for post in author.posts_by.all() %}
        <a href="{{ url('post-id', args=[post.id]) }}">{{ post.title }}</a>
    {% endfor %}
    </div>

    <h4>Comments:</h4>
    <div class="author-comments">
    TODO: Flesh these out a bit ...
    {% for comment in author.comments_by.all() %}
        <a href="{{ url('post-id', args=[comment.post.id]) }}">{{ comment.comment }}</a>
    {% endfor %}
    </div>

</body> -->

{% endblock %}