{% extends 'socialapp/socialapp_base.html' %}

{% block content %}

<div class="centered eight wide column">
    <h2>Edit Profile</h2>
    <small>Edit your info using the form</small>

    <form class="ui form" action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="field">
            <label for="{{ form.displayName.id_for_label }}">Display Name</label>
            {{form.displayName}}
        </div>
        <div class="field">
            <label for="{{ form.bio.id_for_label }}">Bio</label>
            {{form.bio}}
        </div>
        <button class="basic green fluid ui button" type="submit">Save</button>
    </form>
</div>
        

{% endblock %}