{% extends 'socialapp/author-base.html' %}
{% import "common.html" as common %}

{% block title %}
Profile - {{author.displayName}}
{% endblock %}




{% block authorContent %}

{% if user.is_authenticated %}
    {% if user.author == author %}
        <h1>Your Posts</h1>
    {% else %}
        <h1>Recent Activity</h1>
    {% endif %}
{% else %}
    <h1>Recent Activity</h1>
{% endif %}
<div class="ui feed">
    {% if user.is_authenticated %}
        {% for post in author.get_visitor(user.author) %}
            {% if post.contentType.startswith("image") %}
                {{common.imagePost(post)}}
            {% else %}
                {{common.generalPost(post)}}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for post in author.get_visitor(None) %}
            {% if post.contentType.startswith("image") %}
                {{common.imagePost(post)}}
            {% else %}
                {{common.generalPost(post)}}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

{% endblock %}