{% extends 'socialapp/socialapp_base.html' %}

{% block content %}
<div class="centered twelve wide column">
    <div class="ui grid">
        <div class="four wide column">
                <h1>{{author.displayName}}</h1>
                <img class="ui fluid rounded image" src="{{author.image}}">
                <h3>Bio</h3>
                <hr>
                <p>
                    {{author.bio}}
                </p>
                {% if user.is_authenticated %}
                    
                    {% if user.author != author %}
                        <a href="{{ url('friend-request-create', args=[user.author.id]) }}" class="primary basic fluid ui button">
                            Send Friend Request
                        </a>
                        <a style="margin-top: 1em;" class="blue basic fluid ui button">
                            Friends
                        </a>
                    {% endif%}

                    {% if user.author == author %}
                        <a style="margin-top: 1em;" class="blue basic fluid ui button">
                            Edit Profile
                        </a>
                        <a" style="margin-top: 1em;" class="blue basic fluid ui button">
                            Friends
                        </a>
                        {% if author.requested_by.all()|count == 0 %}
                            <a style="margin-top: 1em" class="ui labeled button" tabindex="0">
                                <div class="ui blue button">
                                    <i class="users icon"></i> Friend Requests
                                </div>
                                <a class="ui basic blue left pointing label">
                                    0
                                </a>   
                            </a>
                        {% endif%}

                        {% if author.requested_by.all()|count > 0 %}
                            <a style="margin-top: 1em" class="ui labeled button" tabindex="0">
                                <div class="ui red button">
                                    <i class="users icon"></i> Friend Requests
                                </div>
                                <a class="ui basic red left pointing label">
                                    {{author.requested_by.all()|count}}
                                </a>   
                            </a>
                        {% endif %}  
                        <a style="margin-top: 1em;" class="red basic fluid ui button">
                        <a href="{{ url('logout') }}" style="margin-top: 1em;" class="red basic fluid ui button">
                            Logout
                        </a>
                    {% endif%}
                {% endif%}
        </div>
        <div class="twelve wide column">
            {% block authorContent %} {% endblock %}
        </div>
    </div>
</div>

<!-- <body>

    <h2>{{ author.displayName }}</h2>
    <p>{{ author.bio }}</p>

    {% if user.is_authenticated %}
    <h4>Actions</h4>
    <div class="author-actions">

        {% if user.author != author %}
        TODO: Make this do friendship stuff
        <a href="">Send Friend Invite</a> |
        {% endif%}

        {% if user.author == author %}
        TODO: Make this do profile update stuff
        <a href="">Edit Profile</a>
        {% endif%}

    </div>
    {% endif %}


    <h4>Posts:</h4>
    <div class="author-posts">
    TODO: Flesh these out a bit ...
    {% for post in author.posts_by.all() %}
        <a href="{{ url('post-id', args=[post.id]) }}">{{ post.title }}</a>
    {% endfor %}
    </div>

    <h4>Comments:</h4>
    <div class="author-comments">
    TODO: Flesh these out a bit ...
    {% for comment in author.comments_by.all() %}
        <a href="{{ url('post-id', args=[comment.post.id]) }}">{{ comment.comment }}</a>
    {% endfor %}
    </div>

</body> -->

{% endblock %}