{% extends 'socialapp/socialapp_base.html' %}


{% block title %}
Edit Comment
{% endblock %}

{% block content %}

<div class="centered eight wide column">
    <h2>Edit Comment</h2>
    <small>Edit a comment using the form below!</small>

    <form class="ui form" action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        {{form.author.as_hidden()}}
        {{form.post.as_hidden()}}
        {{form.published.as_hidden()}}
        {{form.contentType.as_hidden()}}

        <div class="field">
            <label for="{{ form.comment.id_for_label }}">Comment</label>
            {{form.comment}}
        </div>


        <input class="basic green fluid ui button" type="submit" value="submit" />
</div>

{% endblock %}