{% extends 'socialapp/author-base.html' %}
{% import "common.html" as common %}

{% block title %}
Profile - {{author.displayName}}
{% endblock %}



{% block friendRequestsContent %}

<h1>Friend Requests</h1>
<div class="ui feed">
    {% for request in author.requested_by.all() %}
        <div class="event">
            <div class="label">
                <img src="{{request.author.image}}">
            </div>
        </div>
        <div class="content">
            <div class="summary">
                <a href="{{ url('author-id', args=[request.author.id]) }}" class="user">{{request.author.displayName}}</a>
                wants to be friends.
            </div>
        </div>
        <div>
            <button href="{{ url('friend-request-accept', args=[request.author.id]) }}" class="circular ui icon button">
                <i class="check icon"></i>
            </button>
            <button href="{{ url('friend-request-decline', args=[request.author.id]) }}" class="circular ui icon button">
                <i class="x icon"></i>
            </button>
        </div>

    {% endfor %}
</div>

{% endblock %}