{% extends 'socialapp/socialapp_base.html' %}
{% import "common.html" as common %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="centered ten wide column">
    <div class="ui feed">
        {% if user.is_authenticated and user.author.is_local_unverified_user() %}
            <div class="ui yellow message">
                You appear to be an unverified author, an administrator will verify your account shortly.
            </div>
        {% endif %}



        {% for post in Posts %}
            {% if post.contentType.startswith("image") %}
                {{common.imagePost(post)}}
            {% else %}
                {{common.generalPost(post)}}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}