
{% extends 'socialapp/socialapp_base.html' %}

{% block content %}

<article class="twelve wide centered column">
    <h1 class="ui dividing header"> {{ post.title }}</h1>
    <p>
        <a href="{{ url('author-id', args=[post.author.id]) }}" class="ui teal image label">
                <img src="{{post.author.image}}">
                {{post.author.displayName}}
        </a>
        <span class="demphasize">{{post.published|naturaltime}}</span>

        <span class="right">
            {% if user.is_authenticated %}
                {% if user.author == post.author%}
                    <a class="demphasize" href="{{ url('post-update', args=[post.id]) }}"> Edit Post</a>   |
                    <a class="demphasize" href="{{ url('post-delete', args=[post.id]) }}"> Delete Post</a>
                {% endif %}
        
            {% endif %}
        </span>

        <h3>
            <b>{{post.description}}</b>
        </h3>

    </p>

    
    
    <!-- <b> {{ post.description }}</b> -->
    {% if (post.contentType == "image/png;base64") %}
        <img class="ui fluid rounded image" src="data:image/png;base64,{{post.content}}"/>
    {% elif (post.contentType == "image/jpeg;base64") %}
        <img class="ui fluid rounded image" src="data:image/jpeg;base64,{{post.content}}"/>
    {% elif post.contentType.startswith("text") %}
        <div>
            {{post.content|markdown|safe}}
        </div>
    {% else %}
        <div>
            <a download="{{post.description}}" href="data:application/octet-stream;charset=utf-16le;base64,{{post.content}}">Download Linked File</a>
        </div>
    {%endif%}
 
    
    <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
    
        {% for comment in post.comments.all() %}
    
            <div class="comment">
                <a class="avatar">
                    <img src="{{comment.author.image}}">
                </a>
                <div class="content">
                    <a href="" class="author">{{ comment.author.displayName }}</a>
                    <div class="metadata">
                        <span class="date">{{comment.published|naturaltime}}</span>
                    </div>
                    <div class="text">
                        {{ comment.comment|markdown|safe}}
                    </div>
                    {% if user.author == comment.author %}
                        <div class="actions">
                            <a class="reply" href="{{ url('comment-update', args=[comment.id]) }}">Edit</a> |
                            <a class="reply" href="{{ url('comment-delete', args=[comment.id]) }}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
    
        {% endfor %}

        {% if user.is_authenticated %}
            <a style="margin-top: 1em;" class="ui basic primary button" href="{{ url('comment-create', args=[post.id]) }}"> Add comment</a>
        {% endif %}
    </div>
</article>


{% endblock %}