<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>  {% block title %} {% endblock %} </title>

  <!-- <link rel="stylesheet" href={{ static("socialapp/test.css")}}>    -->
  <link rel="stylesheet" href={{ static("socialapp/base.css")}}>
  <link rel="stylesheet" href={{ static("socialapp/Semantic-UI-CSS-master/semantic.css")}}>

</head>

<body>
  <topbar>
    <innerbar>
      <span style="color:brown">The</span><br>Social <span style="color:brown">Project</span><br>
    </innerbar>
    <rightbar>

      {% if user.is_authenticated %}
      <a href=" {{ url('author')  }}">Profile</a>
      <a href=" {{ url('post-create')   }}">New Post</a>
      <img src={{ ActiveUser.image }} alt='profile_pic' class='image'>

      {% else %}
      <a class="ui inverted green button" href="{{ url ('social:begin', args=['github']) }}">Login with GitHub</a>
      {% endif %}

    </rightbar>
  </topbar>
  <postbox>

    {% block content %} {% endblock %}

  </postbox>
</body>
</html>