<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>  {% block title %} {% endblock %} </title>

  <link rel="stylesheet" href={{ static("socialapp/Semantic-UI-CSS-master/semantic.css")}}>
  <link rel="stylesheet" href={{ static("socialapp/site.css")}}>
</head>

<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="{{ url('index') }}" class="header item">The Social Project</a>
      <div class="ui right item">
          {% if user.is_authenticated %}
          <a class="item" href=" {{ url('author-id', args=[user.author.id])  }}">Profile</a>
          <a class="item" href=" {{ url('post-create')   }}">New Post</a>
          <a href=" {{ url('author-id', args=[user.author.id])  }}" class="item"><img src="{{ ActiveUser.image }}" alt='profile_pic' class='image'></a> 
    
          {% else %}
          <a class="ui inverted green button" href="{{ url ('social:begin', args=['github']) }}">Login with GitHub</a>
          {% endif %}
      </div>
    </div>
  </div>

  <div class="ui grid container main-block">
      {% block content %} {% endblock %}
  </div>
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src={{ static("socialapp/Semantic-UI-CSS-master/semantic.js")}}></script>
  {% block script %} {% endblock %}
</body>
</html>