<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- <link rel="stylesheet" href={{ static("socialapp/test.css")}}> -->   
    <link rel="stylesheet" href={{ static("socialapp/base.css")}}>
    <link rel="stylesheet" href={{ static("socialapp/Semantic-UI-CSS-master/components/card.css")}}>
    <link rel="stylesheet" href={{ static("socialapp/Semantic-UI-CSS-master/components/comment.css")}}>

</head>

<body>
    <topbar>
    <innerbar>
    <span style="color:brown">The</span><br>Social <span style="color:brown">Project</span><br>
    </innerbar>
    <rightbar>
   

  {% if user.is_authenticated %}
   <a href="../Author/">PROFILE</a><br>
    <a href="../NewPost/">New Post</a><br>
  <img src={{ Author.image }} alt='profile_pic' class='image'>

  {% else %}
    <a href="{{ url ('social:begin', args=['github']) }}">Login with GitHub</a><br>

  {% endif %}

</rightbar>
    </topbar>
    <postbox>

    	{% block content %} {% endblock %}

    </postbox>
</body>


<!-- <body>
Hello
 

<p>
    Test Test Test
</p>
<a href="Author/">click here</a>
</body> -->
</html>