a{
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
}

topbar{
    background-color:black;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

innerbar{
    color: white;
    position: fixed; 
    left: 5em;
    top: 2em;
}

rightbar{
    color: white;
    position: fixed;
    right: 15em;
    top: 3em;
}

postbox{
    color: grey;
    z-index: 1;
    position: relative;
    top: 12em;
    width: 80%;
    margin: auto;
    left: 20%;
}

.image{
    height:40px; 
}